body {
  font-family: "Poppins";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 39px;
    padding-right: 39px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1600px;
    padding-left: 131px;
    padding-right: 131px;
  }
}

@media screen and (min-width: 320px) {
  .header {
    padding-top: 55px;
  }
  .header__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__mobile {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.header__mobile-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.header__mobile-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #263238;
}

.mobile-menu:hover .header__mobile {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu {
  background-color: #fff;
  border: none;
  display: block;
  z-index: 2;
  -webkit-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

@media screen and (min-width: 320px) {
  .header__menu {
    display: none;
  }
}

@media screen and (min-width: 320px) {
  .header__button {
    display: none;
  }
}

.logo {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.header__logo {
  color: #939393;
}

.hero {
  margin-top: 29px;
  margin-bottom: 53px;
}

@media screen and (min-width: 320px) {
  .header__icon-buble {
    display: none;
  }
}

.hero-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.hero__img-girl {
  width: 299px;
  height: 299px;
}

.hero__title {
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  width: 220px;
  position: relative;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.hero__text {
  margin-bottom: 30px;
  width: 292px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #8f95a5;
}

.hero__button {
  width: 289px;
  height: 60px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background: #263238;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

.hero__link {
  color: #ffffff;
}

.skills__title {
  margin-bottom: 32px;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 80px;
  color: #000000;
}

.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 21px;
}

.skills__item--high {
  height: 600px;
}

.skills__item {
  padding: 8px 16px 45px 16px;
  background: #f5f5f5;
  border-radius: 5px;
}

.skills__img {
  margin: 0 auto;
}

.skills__sumtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 80px;
  color: #263238;
}

.skills__txt {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #8f95a5;
}

.skills__button {
  margin-top: 30px;
  width: 178px;
  height: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-color: #263238;
  border-radius: 5px;
}

.about {
  margin-top: 50px;
}

.about__title {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 80px;
  color: #000000;
}

.about__text {
  margin-top: 23px;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: #8f95a5;
}

.wraper-container {
  text-align: center;
}

.about__subtitile {
  font-weight: 600;
  font-size: 24px;
  line-height: 80px;
  color: #2a3246;
}

.about__subtitle-text {
  margin-top: -20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #8f95a5;
}

.price {
  margin-top: 84px;
}

.price__title {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 80px;
  color: #000000;
}

.price__list {
  margin-top: 49px;
  text-align: center;
}

.price__item + .price__item {
  margin-top: 63px;
}

.price__subtitle {
  margin-top: 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #263238;
}

.price__text {
  margin-top: 17px;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: #8f95a5;
}

.price__img {
  margin: 0 auto;
}

.price-container {
  margin-top: 33px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 37px;
  background: #eeeeee;
  border-radius: 5px;
}

.contact {
  margin-top: 72px;
}

.contact__title {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 80px;
  color: #000000;
}

.contact-container {
  margin-top: 38px;
  text-align: center;
}

.contact__img {
  margin: 0 auto;
}

.contact__text {
  margin-top: 38px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #8f95a5;
}

.footer__form {
  margin-top: 31px;
}

.contact__input {
  padding: 16px 26px;
  width: 291px;
  height: 50px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #8f95a5;
  border: 1px solid #8f95a5;
  border-radius: 5px;
}

.contact__button {
  margin-top: 17px;
  width: 290px;
  height: 60px;
  background: #263238;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
}

.footer {
  margin-top: 55px;
}

.footer-content {
  padding-top: 26px;
  padding-bottom: 48px;
  text-align: center;
  border-top: 1px solid #c4c4c4;
}

.footer__nav {
  margin-top: 15px;
  width: 294px;
}

.footer__nav-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__nav-item:not(:first-child)::before {
  content: " ";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: #8f95a5;
  background-color: #8f95a5;
}

.footer__nav-link {
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  color: #8f95a5;
}/*# sourceMappingURL=main.css.map */